.container {
    width: 600px;
    margin-top: 50px;
    padding: 10px;
    background-color: rgb(233, 228, 228);
    border-radius: 4px;
  }
  
  h2 {
    text-align: center;
    color: black;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
    color: black;
    font-size: 20px;
  }
  